<div class="restaurants-container">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-card" >
      <%= image_tag restaurant.image_url, class: "main-img" %>
      <div class="inner">
        <h2><%= restaurant.name %></h2>
        <h3><%= restaurant.location %></h3>

        <div class="info">
          <%= image_tag restaurant.user.image_url, class: "user avatar-bordered" %>
          <%= link_to "More details", restaurant_path(restaurant), class: "details-link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
