
<!-- Display Restaurant Information -->
<%= image_tag @restaurant.image_url %>
<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong> <%= @restaurant.location %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
<p><%= @restaurant.description %></p>


<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.comments %></p>
  <p><%= '⭐️' * review.rating %></p>
<% end %>

<!-- Link to Go Back to Restaurant List -->
<%= link_to 'Back to Restaurant List', restaurants_path, class: "btn btn-secondary" %>
