<div>
<%= image_tag @restaurant.image_url %></p>
  <h1><%= @restaurant.name %></h1>
  <p><strong>Address:</strong> <%= @restaurant.description %></p>
  <p><strong>Phone Number:</strong> <%= @restaurant.location %></p>
  <p><strong>Category:</strong> <%= @restaurant.category %></p>
</div>

<%= link_to 'Back to Restaurant List', restaurants_path %>

<%#
<%# t.string "name"
    <%# t.string "description"
    <%# .string "location"
    <%# t.string "image_url"
    <%# t.string "category" %>
