<div class="mt-4">
  <%= image_tag @restaurant.image_url, class: "img-fluid" %>
  <h2 class="mt-3"><%= @restaurant.name %></h2>
  <p><strong>Description:</strong> <%= @restaurant.description %></p>
  <p><strong>Category:</strong> <%= @restaurant.category %></p>
</div>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.comments %></p>
  <p><%= '⭐️' * review.rating %></p>
<% end %>

<!-- Button to Go to Booking Form -->
<%= link_to 'Book Now', new_restaurant_booking_path(@restaurant), class: "btn btn-primary mt-3" %>

<!-- Button to Show All Restaurants -->
<%= link_to 'Back to All Restaurants', restaurants_path, class: "btn btn-secondary mt-3 ms-2" %>
